In [2]:
import pandas as pd

#### rename이 안먹는파트

In [3]:
clear_df=pd.DataFrame()
for i in range(1,81,1):
    file_path ='C:/Users/admin/Desktop/trfcard/data/trfcard ({}).csv'.format(i) 
    df = pd.read_csv(file_path)
    clear_df = pd.concat([clear_df,df],ignore_index=True)
clear_df.head()
len(clear_df)

842608

In [4]:
col = pd.read_excel('C:/Users/admin/Desktop/trfcard/data/trfcard_columns.xlsx', header=0)
col = col[['컬럼명(한글)','컬럼명(영문)']]

In [5]:
col_list = col.to_dict('records')
col_list

[{'컬럼명(한글)': '승차시각', '컬럼명(영문)': 'on_date'},
 {'컬럼명(한글)': '하차시각', '컬럼명(영문)': 'off_date'},
 {'컬럼명(한글)': '노선명', '컬럼명(영문)': 'route_name'},
 {'컬럼명(한글)': '노선설명', '컬럼명(영문)': 'descr'},
 {'컬럼명(한글)': '승객연령', '컬럼명(영문)': 'age_type'},
 {'컬럼명(한글)': '환승여부', '컬럼명(영문)': 'trans_yn'},
 {'컬럼명(한글)': '추가운임여부', '컬럼명(영문)': 'addfee_yn'},
 {'컬럼명(한글)': '승차정류장', '컬럼명(영문)': 'start_bstop'},
 {'컬럼명(한글)': '승차정류장 GPS X', '컬럼명(영문)': 'start_gps_x'},
 {'컬럼명(한글)': '승차정류장 GPS Y', '컬럼명(영문)': 'start_gps_y'},
 {'컬럼명(한글)': '하차정류장', '컬럼명(영문)': 'end_bstop'},
 {'컬럼명(한글)': '하차정류장 GPS X', '컬럼명(영문)': 'end_gps_x'},
 {'컬럼명(한글)': '하차정류장 GPS Y', '컬럼명(영문)': 'end_gps_y'}]

In [6]:
new_dict = {}

for kv in col_list:
    new_dict[kv['컬럼명(한글)']] = kv['컬럼명(영문)']
new_dict

{'승차시각': 'on_date',
 '하차시각': 'off_date',
 '노선명': 'route_name',
 '노선설명': 'descr',
 '승객연령': 'age_type',
 '환승여부': 'trans_yn',
 '추가운임여부': 'addfee_yn',
 '승차정류장': 'start_bstop',
 '승차정류장 GPS X': 'start_gps_x',
 '승차정류장 GPS Y': 'start_gps_y',
 '하차정류장': 'end_bstop',
 '하차정류장 GPS X': 'end_gps_x',
 '하차정류장 GPS Y': 'end_gps_y'}

In [7]:
clear_df = clear_df.rename(columns = new_dict)

#### ------------------------------------------------------------------------

In [8]:
## 버스 내 체류시간 분석

## 기준일 및 시간대별 버스내 체류시간(분) 분석비교
## 시간 및 승객구분별 빈도분석 비교

In [9]:
df_timeps = pd.read_csv('C:/Users/admin/Desktop/trfcard/data/trfcard_total.csv')
df_timeps.head(2)

,승차시각,하차시각,노선명,노선설명,승객연령,환승여부,추가운임여부,승차정류장,승차정류장 GPS X,승차정류장 GPS Y,하차정류장,하차정류장 GPS X,하차정류장 GPS Y
0,20200103051542,20200103053306,500,문덕-시외터미널-흥해-청하-월포,일반,N,N,문덕사거리,129.403442,35.962846,대잠사거리,129.344492,36.011164
1,20200103052028,20200103053715,101,양덕-고속터미널-동해,일반,N,N,삼성쉐르빌,129.405116,36.086449,북구청,129.367128,36.041941

In [10]:
df_timeps_a = df_timeps[['승차시각', '승객연령']]
df_timeps_a

                  승차시각 승객연령
0       20200103051542   일반
1       20200103052028   일반
2       20200103052103   일반
3       20200103052126   일반
4       20200103052217   일반
...                ...  ...
842603  20200102232423   일반
842604  20200102232449   일반
842605  20200102232849   일반
842606  20200102233518   일반
842607  20200102235936   일반

[842608 rows x 2 columns]

In [11]:
df_timeps_a['승객연령'].value_counts()

일반      772599
청소년      59037
어린이      10047
None       925
Name: 승객연령, dtype: int64

In [12]:
# 승객연령의 None값을 기타로 바꾸기
df_timeps_a = df_timeps_a.replace({'승객연령':'None'}, '기타')
df_timeps_a['승객연령'].value_counts()

일반     772599
청소년     59037
어린이     10047
기타        925
Name: 승객연령, dtype: int64

In [13]:
# 승치시각을 datetime으로 바꿔서 승차시각_date에 저장
df_timeps_a['승차시각_date'] = pd.to_datetime(df_timeps_a['승차시각'], format="%Y%m%d%H%M%S")
df_timeps_a

                  승차시각 승객연령           승차시각_date
0       20200103051542   일반 2020-01-03 05:15:42
1       20200103052028   일반 2020-01-03 05:20:28
2       20200103052103   일반 2020-01-03 05:21:03
3       20200103052126   일반 2020-01-03 05:21:26
4       20200103052217   일반 2020-01-03 05:22:17
...                ...  ...                 ...
842603  20200102232423   일반 2020-01-02 23:24:23
842604  20200102232449   일반 2020-01-02 23:24:49
842605  20200102232849   일반 2020-01-02 23:28:49
842606  20200102233518   일반 2020-01-02 23:35:18
842607  20200102235936   일반 2020-01-02 23:59:36

[842608 rows x 3 columns]

In [14]:
# 승차일, 승차시 각각나눠서 따로 저장
df_timeps_a['승차일'] = df_timeps_a['승차시각_date'].dt.date
df_timeps_a['승차시'] = df_timeps_a['승차시각_date'].dt.time
df_timeps_a

                  승차시각 승객연령           승차시각_date         승차일       승차시
0       20200103051542   일반 2020-01-03 05:15:42  2020-01-03  05:15:42
1       20200103052028   일반 2020-01-03 05:20:28  2020-01-03  05:20:28
2       20200103052103   일반 2020-01-03 05:21:03  2020-01-03  05:21:03
3       20200103052126   일반 2020-01-03 05:21:26  2020-01-03  05:21:26
4       20200103052217   일반 2020-01-03 05:22:17  2020-01-03  05:22:17
...                ...  ...                 ...         ...       ...
842603  20200102232423   일반 2020-01-02 23:24:23  2020-01-02  23:24:23
842604  20200102232449   일반 2020-01-02 23:24:49  2020-01-02  23:24:49
842605  20200102232849   일반 2020-01-02 23:28:49  2020-01-02  23:28:49
842606  20200102233518   일반 2020-01-02 23:35:18  2020-01-02  23:35:18
842607  20200102235936   일반 2020-01-02 23:59:36  2020-01-02  23:59:36

[842608 rows x 5 columns]

In [15]:
df_timeps_a.dtypes

승차시각                  int64
승객연령                 object
승차시각_date    datetime64[ns]
승차일                  object
승차시                  object
dtype: object

In [18]:
# 시간별로 구분하기위해 승차시에서 시간만 뽑아서 따로 저장
df_timeps_a['승차시_hour'] = df_timeps_a['승차시각_date'].dt.hour
df_timeps_a

df_timeps_a.to_csv('./df_timeps.csv', index=False)

In [ ]:
# crosstab으로 빈도 구하기
df_timeps_b = pd.crosstab(df_timeps_a['승차시_hour'], df_timeps_a['승객연령'])
df_timeps_b

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.rc('font', family='Malgun Gothic')

df_timeps_b.plot(kind='bar', figsize=(13,7), 
                 title='시간 및 승객구분별 빈도분석',
                 xlabel='시간',
                 ylabel='승객수')

In [ ]:
## 분석
# 1. 승객 구분의 범주가 어린이(만 6세~만 12세),청소년(만 13세~만 18세),일반(만 19세 이상)으로 되어 있어 일반(성인)
# 이용자가 모든 시간대에서 가장 많은 빈도수를 보여준다.
# 2. 기타(데이터:'None')으로 분류된 승객은 특별한 내용을 찾을 수 없었으나 국가 차원의 복지혜택으로 대중교통 혜택을
# 받는 계층으로 예상된다.